.section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-bottom: 24px;
    }
}

.image {
    padding: 20px;
    text-align: center;
    width: 100%;
}

.image img {
    width: 300px;
    height: 300px;
}

.left-align {
    text-align: left;
}

.text-position {
    padding: 32px;
    border: 1px solid rgba(128, 128, 128, 0.233);
}




@media (max-width: 768px) {
    .text-position {
        text-align: center;
        border: none;
    }

    .text-position:nth-child(1) {
        order: 2;
    }

    .image {
        margin-bottom: 30px;
    }
}
