<app-banner [heroSource]="'../../../assets/images/about.jpg'"></app-banner>
  
<app-page-title [title]="title"></app-page-title>

<div class="container my-5">
    <div class="row section">
        <div class="col">
            <h1 class="display-6">About Us</h1>
            <p class="lead">"At ColeDynamics agency , we specialize in connecting homebuyers 
                like you with top-notch real estate opportunities. With a focus 
                on quality and tailored solutions, we partner with leading real 
                estate agencies to bring you the finest listings in Accra , Our 
                team of experts is dedicated to making your property search seamless
                 and rewarding.
            </p>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row section">
        <div class="col">
            <h1 class="display-6">Why Choose Us?</h1>
            <div class="lead">
                <p>Exclusive Access: Gain access to a curated selection of prime real estate listings, handpicked to match your preferences and needs.</p>
                <p>Expert Partnerships: We collaborate with trusted real estate agencies to ensure you're getting the best opportunities in the market.</p>
                <p>Personalized Experience: Our service is designed to cater to your unique requirements, making your property search hassle-free.</p>
                <p>Dedicated Support: Our team is here to assist you at every step, providing guidance and insights to make informed decisions.</p>
                <p>Seamless Process: We streamline the process of finding your dream home, saving you time and effort.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row section">
        <div class="col">
            <h1 class="display-6">How It Works</h1>
            <div class="lead">
                <p>Explore and Connect: Review the listings at your convenience, and when you're ready, connect with the real estate agencies for a seamless viewing experience.</p>
                <p>Receive Tailored Listings: Our experts handpick listings that match your criteria and send them directly to you</p>
                <p>Submit Your Preferences: Tell us about your ideal home – from location and size to amenities and budget.</p> 
            </div>
          </div>
    </div>
</div>

<!-- with animation -->

<!-- <div class="container my-5" data-aos="fade-down-right" data-aos-duration="3000">
    <div class="row section">
        <div class="col">
            <h1 class="display-4">About Us</h1>
            <p class="lead">"At ColeDynamics agency , we specialize in connecting homebuyers 
                like you with top-notch real estate opportunities. With a focus 
                on quality and tailored solutions, we partner with leading real 
                estate agencies to bring you the finest listings in Accra , Our 
                team of experts is dedicated to making your property search seamless
                 and rewarding.
            </p>
        </div>
    </div>
</div>

<div class="container mb-5" data-aos="fade-down-right" data-aos-duration="3000">
    <div class="row section">
        <div class="col">
            <h1 class="display-4">Why Choose Us?</h1>
            <div class="lead">
                <p>Exclusive Access: Gain access to a curated selection of prime real estate listings, handpicked to match your preferences and needs.</p>
                <p>Expert Partnerships: We collaborate with trusted real estate agencies to ensure you're getting the best opportunities in the market.</p>
                <p>Personalized Experience: Our service is designed to cater to your unique requirements, making your property search hassle-free.</p>
                <p>Dedicated Support: Our team is here to assist you at every step, providing guidance and insights to make informed decisions.</p>
                <p>Seamless Process: We streamline the process of finding your dream home, saving you time and effort.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5" data-aos="fade-down-right" data-aos-duration="3000">
    <div class="row section">
        <div class="col">
            <h1 class="display-4">How It Works</h1>
            <div class="lead">
                <p>*Explore and Connect:* Review the listings at your convenience, and when you're ready, connect with the real estate agencies for a seamless viewing experience.</p>
                <p>*Receive Tailored Listings:* Our experts handpick listings that match your criteria and send them directly to you</p>
                <p>*Submit Your Preferences:* Tell us about your ideal home – from location and size to amenities and budget.</p> 
            </div>
          </div>
    </div>
</div> -->


<!-- <app-section></app-section> -->