<div class="container my-5">
  <div class="row section margin-bottom">
      <div class="col-md-6 text-position">
          <h1 data-aos="fade-down" data-aos-duration="800">Residential</h1>
          <p data-aos="fade-up" data-aos-duration="1000">At ColeDynamics agency , we specialize in connecting homebuyers 
              like you with top-notch real estate opportunities. With a focus 
              on quality and tailored solutions, we partner with leading real 
              estate agencies to bring you the finest listings in Accra, Our 
              team of experts is dedicated to making your property search seamless
              and rewarding.
          </p>
          <a routerLink="/quote" class="btn btn-secondary" style="border-radius: 25px;">Get a Quote</a>
      </div>
      <div class="col-md-6">
          <div class="image" data-aos="zoom-in" data-aos-duration="1000">
              <img src="../../../assets/images/image1.jpeg" alt="Your Image">
          </div>
      </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row section">
      <div class="col-md-6">
          <div class="image" data-aos="zoom-in" data-aos-duration="1000">
              <img src="../../../assets/images/image2.jpeg" alt="Your Image">
          </div>
      </div>
      <div class="col-md-6 text-position">
          <h1 data-aos="fade-down" data-aos-duration="800">Commercial</h1>
          <div data-aos="fade-up" data-aos-duration="1000">
              <p>Exclusive Access: Gain access to a curated selection of prime real estate listings, handpicked to match your preferences and needs.</p>
              <p>Expert Partnerships: We collaborate with trusted real estate agencies to ensure you're getting the best opportunities in the market.</p>
              <p>Personalized Experience: Our service is designed to cater to your unique requirements, making your property search hassle-free.</p>
              <p>Dedicated Support: Our team is here to assist you at every step, providing guidance and insights to make informed decisions.</p>
              <p>Seamless Process: We streamline the process of finding your dream home, saving you time and effort.</p>
          </div>
          <a routerLink="/quote" class="btn btn-secondary" style="border-radius: 25px;">Get a Quote</a>
      </div>

  </div>
</div>


