<div class="container my-5">
  <div class="row section">
      <div class="col-md-8 text-position">
          <h1 data-aos="fade-down" data-aos-duration="800">Residential</h1>
          <p data-aos="fade-up" data-aos-duration="1000">
            Discover the epitome of modern comfort in our upscale residential apartment community. 
            Located in the heart of the city, our apartments offer a unique blend of convenience and style.
          </p>
          <a routerLink="/quote" class="btn btn-theme">Get a Quote</a>
      </div>
      <div class="col-md-4">
          <div class="image" data-aos="zoom-in" data-aos-duration="1000">
              <img src="../../../assets/images/image1.jpeg" alt="Your Image">
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" style="padding: 0;">
            <div class="jumbotron text-center">
                <h1>At Cole Dynamics agency,</h1>
                <p class="lead">we specialize in connecting homebuyers like you...</p>
                <a routerLink="/about" class="btn btn-theme">Learn More</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
  <div class="row section">
    <div class="col-md-8 text-position">
        <h1 data-aos="fade-down" data-aos-duration="800">Commercial</h1>
        <div data-aos="fade-up" data-aos-duration="1000">
            <p>
                Experience the best in commercial real estate. Schedule a tour and make our 
                commercial apartments your business's new home. Welcome to a dynamic, professional, 
                and thriving workspace.
            </p>
        </div>
        <a routerLink="/quote" class="btn btn-theme">Get a Quote</a>
    </div>
    <div class="col-md-4">
        <div class="image" data-aos="zoom-in" data-aos-duration="1000">
            <img src="../../../assets/images/image10.jpeg" alt="Your Image">
        </div>
    </div>
  </div>
</div>


