<div class="container my-5 px-4 text-center">
    <div class="row gx-5">
      <div class="col-md-6">
       <div class="p-3 pt-0">
        <div class="card">
            <img src="../../../assets/images/image1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h1 class="card-title lead">Residential</h1>
              <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="/quote" class="btn btn-secondary" style="border-radius: 25px;">Get a Quote</a>
            </div>
        </div>
       </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 pt-0">
            <div class="card">
                <img src="../../../assets/images/image2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 class="card-title lead">Commercial</h1>
                  <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="/quote" class="btn btn-secondary" style="border-radius: 25px;">Get a Quote</a>
                </div>
            </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="p-3 pt-0">
            <div class="card">
                <img src="../../../assets/images/image3.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h1 class="card-title lead">Card title</h1>
                  <p class="card-text lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="/quote" class="btn btn-secondary">Get Quote</a>
                </div>
            </div>
        </div>
      </div> -->
    </div>
</div>


