@use '../../theme/primary';

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid primary.$primary-color;

    h1 {
        margin-bottom: 24px;
    }
}

.image {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.image img {
    width: 100%;
    border-radius: 4px;
}

.text-position {
    h1 {
        margin-bottom: 48px;
    }

    p {
        margin-bottom: 48px;
    }
}

.jumbotron {
    margin: 40px 0 80px 0;
    padding: 48px;
    border-radius: 4px;
    background-color: rgba(133, 130, 130, 0.151);
}


@media (max-width: 768px) {
    .section {
        border-left: none;
    }

    .text-position {
        text-align: center;
    }

    .text-position:nth-child(1) {
        order: 2;
    }

    .image {
        margin-bottom: 30px;
    }

    .jumbotron {
        margin: 32px 16px 80px 16px;
        padding: 48px;
        border-radius: 4px;
        background-color: rgba(133, 130, 130, 0.151);
    }
}
