<div class="hero">
    <img src="{{heroSource}}" alt="Hero Image">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h1 class="display-4">{{ title }}</h1>
      <!-- <p class="lead">Your captivating message goes here.</p> -->
      <div>
        <span></span>
        <a *ngIf="page != 'quote'" routerLink="/quote" class="btn btn-theme" data-aos="flip-up" data-aos-duration="800">Get a Quote</a>
        <!-- <a *ngIf="page == 'quote'" routerLink="/home" class="btn btn-theme" data-aos="flip-up" data-aos-duration="800">Home</a> -->
      </div>
      
    </div>
</div>