.hero {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
    overflow: hidden; /* Ensure the image does not overflow the container */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the container with the image */
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay to improve text readability */
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    // z-index: 1;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .hero-content button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .bounce {
    animation: bounce 1s linear infinite; /* Apply the animation to the element */
  }

  .bounce:hover {
    animation: none;
  }

  @keyframes bounce {
    0% {
      transform: translateX(0); /* Start position */
    }
    50% {
      transform: translateY(50px); /* Middle position */
    }
    100% {
      transform: translateX(0); /* End position */
    }
  }
  